<a id="link1">http://173.212.235.122/public/bitmap/up/dofus.zip</a>
<a id="link2">http://173.212.235.122/public/bitmap/up/maj.zip</a>
<a id="link3">http://173.212.235.122/public/bitmap/up/version.txt</a>
<a id="link4">https://www.google.com/</a>
<a id="link5">https://www.google.com/</a>
<a id="link6">https://www.google.com/</a>
<a id="link7">https://www.google.com/</a>

<a id="news1">OUVETURE DU SERVEUR WEFUS</a>
<a id="news2">Achetez ou vendez votre personnage !</a>
<a id="news3">Votez, pour gagnez des jetons !</a>
<a id="news4">Aucune mise a jour.</a>
